@charset "utf-8";

// link google font
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

// custom colors
$PrimaryColor: #0F7173;
$SecondaryColor : #D8A47F;


// $input-color
// $input-focus-border-color
// update framework colors

// $text: $base;
$primary: $PrimaryColor;
$info: $SecondaryColor;

@import 'bulma';

.whiten {
  color: $PrimaryColor;
}

.navWidth {
  color: $PrimaryColor;
}

.rRow {
  width: 240px;
}

@media only screen and (min-width: 350px) {

  .rRow {
    width: 240px;
    margin-left: -70px;
  }
}

@media only screen and (min-width: 380px) {

  .rRow {
    margin-left: -80px;
  }
}

@media only screen and (min-width: 600px) {

  .formWidth {
    width: 350px;
  }

  .rRow {
    width: 350px;
    margin-left: -80px;
  }
}


